@font-face {
  font-family: 'TT Hoves';
  src: url('/fonts/TT Hoves Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('/fonts/TT Hoves Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('/fonts/TT Hoves DemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('/fonts/TT Hoves Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  html {
    @apply bg-white text-black;
  }
  
  body {
    @apply font-tt-hoves antialiased;
  }

  h1 {
    @apply text-h1;
  }

  h2 {
    @apply text-h2;
  }

  h3 {
    @apply text-h3;
  }

  p {
    @apply text-p1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
